body {
	background: grey;
}

#wrapper {
 	background:#CCC;
	border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}

#wrapper > div {
	background: grey;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
	background-image: url("http://static-assets.generalassemb.ly/logos/generalassembly-open-graph.png");
	background-size: contain;
	background-repeat: no-repeat;
}